includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app/
        - routes/
    excludePaths:
        - app/Providers/AppServiceProvider.php
    reportUnmatchedIgnoredErrors: false